@import "tailwindcss";

:root {
  --background: #0f172a;
  --foreground: #f8fafc;

  --primary: #7c3aed;
  --card: #1e293b;
  --muted: #94a3b8;
  --success: #22c55e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-card: var(--card);
  --color-muted: var(--muted);
  --color-success: var(--success);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, system-ui, sans-serif;
}
